<phpunit backupGlobals="false" backupStaticAttributes="true" bootstrap="/project/apps/example/tests/unit/conf/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="true" stopOnFailure="true" syntaxCheck="false" testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
	<testsuites>
		<testsuite name="Project: example - Test Suite">
			<file>/project/apps/example/tests/unit/lib/ExampleTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>