{% extends "project/globals/layouts/layout.twig" %}

{% block content_container %}
	<div class="content-container">
		<div class="ui-widget-content nano-admin-widget ui-corner-all">
			<h3 class="ui-widget-header ui-corner-all">Page Not Found</h3>
			<div class="ui-state-error nano-admin-state-error ui-corner-all" style="text-align:center">{{ url }}</div>
		</div>
	</div>
{% endblock content_container %}