{% extends "project/apps/back_end/layouts/layout.twig" %}

{% block content_container %}
	<div class="content-container">
		<table cellspacing="5" cellpadding="5" width="100%">
			<tr>
				<td valign="top" width="200">
					{{ menu }}
				</td>
				<td valign="top">
					{{ modelExport }}
				</td>
			</tr>
		</table>
	</div>
{% endblock content_container %}