{% extends "project/apps/back_end/layouts/layout.twig" %}

{% block logo %}

{% endblock logo %}

{% block content_container %}

	<script>
		$(function() {
			$("button, input:submit", ".login-options").button();
		});
	</script>

	<div class="content-container">
		<table cellspacing="5" cellpadding="5" width="100%">
			<tr>
				<td align="center">
					<div style="padding-left:10px;color:#D0D0D0;font-size:0.6em">
<pre>
888b    888        <font color="#00bbeb">d8</font>888 888b    888  .d88888b.  8888888b.  888    888 <font color="#ddf000">8888888b.</font>  
8888b   888       <font color="#00bbeb">d8</font>8888 8888b   888 d88P" "Y88b 888   Y88b 888    888 888   Y88b 
88888b  888      <font color="#00bbeb">d8</font>8P888 88888b  888 888     888 888    888 888    888 888    888 
888Y88b 888     <font color="#00bbeb">d8</font>8P 888 <font color="#ff3387">888Y88b 888</font> 888     888 888   d88P 8888888888 888   d88P 
888 Y88b888    <font color="#00bbeb">d8</font>8P  888 888 Y88b888 888     888 <font color="#75e000">8888888P"</font>  888    888 8888888P"  
888  Y88888   <font color="#00bbeb">d8</font>8P   888 888  Y88888 888     888 888        888    888 888        
888   Y8888  <font color="#00bbeb">d8</font>888888888 888   Y8888 Y88b. .d88P 888        888    888 888        
888    Y888 <font color="#00bbeb">d8</font>8P     888 888    Y888  "Y88888P"  888        888    888 888        
</pre>
					</div>
				</td>
			</tr>
			<tr>
				<td align="center">
					<form method="POST" action="">
						<table>
							<tr>
								<td>
									<div class="ui-widget-content nano-admin-widget edit-options ui-corner-all">
										<table cellspacing="5" cellpadding="5">
											{% if errorMessage %}
											<tr>
												<td align="left">
													<div class="ui-state-error nano-admin-state-error ui-corner-all">{{ errorMessage }}</div>
												</td>
											</tr>
											{% endif %}
											<tr>
												<td align="left">
													<div style="font-size:1.2em;text-align:left">Username:</div>
													<div class="form-text-container">
														<input name="username" style="font-size:2.2em" class="form-text" type="text" size="20" />
													</div>
												</td>
											</tr>
											<tr>
												<td align="left">
													<div style="font-size:1.2em;text-align:left">Password:</div>
													<div class="form-text-container">
														<input name="password" style="font-size:2.2em" class="form-text" type="password" size="20" />
													</div>
												</td>
											</tr>
											<tr>
												<td align="right">
													<div class="login-options"><input style="font-size:1.1em" type="submit" value="Login" /></div>
												</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</td>
			</tr>
		</table>
	</div>
{% endblock content_container %}