<phpunit backupGlobals="false" backupStaticAttributes="true" bootstrap="project/apps/back_end/tests/unit/conf/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="true" stopOnFailure="true" syntaxCheck="false" testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
	<testsuites>
		<testsuite name="Project: back_end - Test Suite">
			<directory>project/apps/back_end/tests/unit/lib</directory>
		</testsuite>
	</testsuites>
</phpunit>