<div style="width:1000px">
	<div class="ui-widget-content nano-admin-widget ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">{{ 'admin.view-record' | i18n('View Record') }}</h3>
		<table cellpadding="5">	
			{% for key, value in displayItems %}
			<tr>
				<td>{{ value.nice_name }}: </td>
				<td>{{ value.value }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{{ 'log' | inc }}