{% extends "project/apps/back_end/layouts/layout.twig" %}

{% block body %}
	{% if previewUrl %}
	<body onload="NJSCORE.LightBox.ajaxLoad('{{ previewUrl }}')">
	{% else %}
	<body>
	{% endif %}
		<div id="body-container">
{% endblock %}

{% block content_container %}
	<div class="content-container">
		<table cellspacing="5" cellpadding="5" width="100%">
			<tr>
				<td valign="top" width="200">
					{{ menu }}
				</td>
				<td valign="top">
					{{ edit }}
				</td>
			</tr>
		</table>
	</div>
{% endblock content_container %}