{% extends "project/apps/example/layouts/layout.twig" %}

{% block content_container %}
	<div class="content-container">
		
		Looks like everything is working!! :)
		
	</div>
{% endblock content_container %}